<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/artwork.css' />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Big+Shoulders+Display&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <div id="background"></div>

    <h1 id="artWorkHeading">Art Work</h1>
    <div id="line1"></div>

    <div id="photo1"></div>
    <div id="photo2"></div>
    <div id="photo3"></div>
    <div id="photo4"></div>
    <div id="photo5"></div>
    <div id="photo6"></div>
    <div id="photo7"></div>
    <div id="photo8"></div>
    <div id="photo9"></div>
    <div id="photo10"></div>
    <div id="photo11"></div>
    <div id="photo12"></div>
    <div id="photo13"></div>
    <div id="photo14"></div>
    <div id="photo15"></div>
    <div id="photo16"></div>
    <div id="photo17"></div>
    <div id="photo18"></div>
    <div id="photo19"></div>
    <div id="photo20"></div>
</body>
</html>