<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link rel="stylesheet" href="/stylesheets/contact.css" />
  <link href="https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@300&display=swap" rel="stylesheet">
</head>

<body>

  <h1 id="fill">PLEASE FILL THE FORM</h1>
  <form action="/submit" method="POST">
    <input type="text" name="name" placeholder="Your name"><br>
    <input type="email" name="email" placeholder="Email"><br>
    <input type="number" name="number" placeholder="Contact number"><br>
    <textarea name="area" cols="90" rows="2a0" placeholder="Your order"></textarea>
    <br>
    <input type="submit">
  </form>

  <span><i id= "phone" class="ri-phone-fill"></i></span>

</body>

</html>