<!DOCTYPE html>
<html>

<head>
  <title>MYSTIC KALAA</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Big+Shoulders+Display&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@300&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700|Roboto:300,100italic' rel='stylesheet'
    type='text/css'>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,200&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap" rel="stylesheet">
</head>

<body>
  <div id="background">

    <div id="pageOne">
      <a id="fb"><i class="ri-facebook-fill"></i></a>
      <a href="https://www.instagram.com/mystickalaa/" id="insta"><i class="ri-instagram-line"></i></a>
      <a id="mail"><i class="ri-mail-line"></i></a>
      <a id="phone"><i class="ri-phone-line"></i></a>

      <a href="#pink" id="nav1">WHY US</a>
      <a href="#about" id="nav2">ABOUT</a>
      <a href="#art2" id="nav3">ART</a>
      <a href="#contact" id="nav4">SHOP NOW</a>
      <a href="#reviews" id="nav5">REVIEWS</a>



      <div id="logo"></div>
    </div>

    <div id="pink">
      <h2 id="address">WHY US?</h2>
      <p3>Why choose Mytic Kalaa? Each of our designs are specifically made to fit your brand aesthetics. From colour
        pallets to fonts to designing is based on each element is created with you , for you. We design, print, and
        deliver to your doorstep.
      </p3>
      <a id="projectLink" href="#about">ABOUT US</a>
    </div>

    <div id="about">
      <div id="line"></div>
      <div id="line2"></div>
      <p id="barGraph"><i class="ri-bar-chart-grouped-line"></i></p>
      <h4>ABOUT</h4>
      <p4>"We are a design company that curates stationery as well as customized packaging for a large audience. We
        started this company on premium quality, affordable prizes and aesthetic deisgns to add a mystic essence in
        your life."</p4>
    </div>

    <div id="art2">
      <a id="artHeading" href="/artWork">ART</a>
      <p21>Click the above text for viewing some of our artworks!</p21>
    </div>
    <div id="art"></div>

    <div id="blackContent"></div>

    <div id="projects">
      <h5>PRODUCTS</h5>
    </div>

    <div id="design"></div>

    <div id="contact">

      <h1 id="shopNow">SHOP NOW!</h1>

      <a href="/posters" id="shopP1">Posters</a>
      <a href="/books" id="shopP2">Notebooks</a>
      <a href="/stickers" id="shopP3">Stickers</a>
      <a href="/bwd" id="shopP4">Boho Wall Decor</a>
      <a href="/wk" id="shopP5">Wall Kits</a>
      <a href="/bookmark" id="shopP6">Bookmarks</a>
      <a href="" id="shopP7">Custom Illustration</a>
      <a href="" id="shopP8">Custom Frame</a>
      <a href="" id="shopP9">Logo Designing</a>
      <a href="" id="shopP10">Flyer Designing</a>
      <a href="" id="shopP11">Spotify Merch</a>
      <!-- <a id="shopP12">Template Designing</a>
      <a id="shopP13">Custom Designing And Printing For Gifting</a> -->

      <h1 id="readyToBuy">Ready To Buy Items:</h1>

      <div id="posterPic1"></div>
      <div id="notebooksPic1"></div>
      <div id="stickersPic1"></div>
      <div id="bwdPic1"></div>
      <div id="wkPic1"></div>
      <div id="bmPic1"></div>
      <div id="ciPic1"></div>
      <div id="wiasPic1"></div>
      <div id="logoPic1"></div>
      <div id="flyerPic1"></div>
      <div id="smPic1"></div>

    </div>

    <div id="reviews">
      <h7>REVIEWS</h7>
      <div id="line10"></div>

      <div id="reviewImg1"></div>
      <div id="reviewImg2"></div>
      <div id="reviewImg3"></div>

      <a id="reviewH1"
        href="https://docs.google.com/forms/d/e/1FAIpQLSdSMk9ZqD1y3vZsmAroUg6a6Nsy2oVMAgbK7IVyXdHED5M9Vg/viewform?fbzx=-7364649197719625919">WRITE
        A REVIEW!</a>

      <a id="reviewH2"
        href="https://docs.google.com/forms/d/1I5MjIUHQbR7jGZ7-s0QgFCO8BFbFABIO6fyyP3eVdh4/edit#responses">READ A
        REVIEW!</a>


    </div>

  </div>

</body>

</html>