<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/stickers.css' />
    <link href="https://fonts.googleapis.com/css2?family=Big+Shoulders+Display&display=swap" rel="stylesheet">
    <title>STICKERS!</title>
</head>

<body>
    <div id="background"> </div>
        <h1 id="heading1">STICKERS</h1>
        <div id="line1"></div>


        <div id="line2"></div>
        <div id="img1"></div>
        <h1 id="price1">PRICE:</h1>
        <div id="line3"></div>

        <div id="img2"></div>
        <div id="line4"></div>

        <div id="img3"></div>
        <div id="line5"></div>

        <div id="img4"></div>
        <div id="line6"></div>

        <div id="img5"></div>
        <div id="line7"></div>

        <div id="img6"></div>
        <div id="line8"></div>

        <div id="img7"></div>
        <div id="line9"></div>

        <div id="img8"></div>
        <div id="line10"></div>

        <div id="img9"></div>
        <div id="line11"></div>

        <div id="img10"></div>
        <div id="line12"></div>

        <div id="img11"></div>
        <div id="line13"></div>

        <div id="img12"></div>
        <div id="line14"></div>

        <div id="img13"></div>
        <div id="line15"></div>

        <div id="img14"></div>
        <div id="line16"></div>

        <div id="img15"></div>
        <div id="line17"></div>

        <div id="img16"></div>
        <div id="line18"></div> 

   
</body>

</html>