*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html,body{
    height: 100%;
    width: 100%;
  }
  #background{
      height: 580%;
      width: 100%;
      background-image: linear-gradient(#ffafbd,  #ffc3a0);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      position: absolute;
  }
  #heading1{
    position: absolute;
    top: 6%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Big Shoulders Display", cursive;
    font-size: 90px;
    color: white;
  }
  #line1 {
    height: 3px;
    width: 4%;
    position: absolute;
    top: 11%;
    left: 45.5%;
    background-color: white;
    animation: animation1 0.5s linear 1;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
  }
  @keyframes animation1 {
    0% {
      width: 6%;
    }
    100% {
      width: 9%;
    }
  }
  #img1{ 
    height: 33%;
    width: 17%;
    background-color: black;
    position: absolute;
    top: 20%;
    left: 2%;
    background-image: url('book3.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  #price1{
    font-size: 50px;
    position: absolute;
    top: 19%;
    left: 26%;
    color: white;
    font-family: "Big Shoulders Display", cursive;
    /* letter-spacing: 1px; */
  }
  #line2{
    width: 98%;
    height: 2px;
    position: absolute;
    top: 19%;
    left: 1%;
    background-color: rgb(192, 184, 184);
  }
  #line3{
    width: 98%;
    height: 2px;
    position: absolute;
    top: 54%;
    left: 1%;
    background-color: rgb(192, 184, 184);
  }
  #img2{ 
    height: 33%;
    width: 17%;
    background-color: black;
    position: absolute;
    top: 55%;
    left: 2%;
    background-image: url('book4.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  #line4{
    width: 98%;
    height: 2px;
    position: absolute;
    top: 89%;
    left: 1%;
    background-color: rgb(192, 184, 184);
  }
  #img3{ 
    height: 33%;
    width: 17%;
    background-color: black;
    position: absolute;
    top: 90%;
    left: 2%;
    background-image: url('book5.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  #line5{
    width: 98%;
    height: 2px;
    position: absolute;
    top: 124%;
    left: 1%;
    background-color: rgb(192, 184, 184);
  }
  #img4{ 
    height: 33%;
    width: 17%;
    background-color: black;
    position: absolute;
    top: 125%;
    left: 2%;
    background-image: url('book1.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  #line6{
    width: 98%;
    height: 2px;
    position: absolute;
    top: 159%;
    left: 1%;
    background-color: rgb(192, 184, 184);
  }
  #img5{ 
    height: 33%;
    width: 17%;
    background-color: black;
    position: absolute;
    top: 160%;
    left: 2%;
    background-image: url('book2.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  #line7{
    width: 98%;
    height: 2px;
    position: absolute;
    top: 194%;
    left: 1%;
    background-color: rgb(192, 184, 184);
  }
  #img6{ 
    height: 33%;
    width: 17%;
    background-color: black;
    position: absolute;
    top: 195%;
    left: 2%;
    background-image: url('book6.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  #line8{
    width: 98%;
    height: 2px;
    position: absolute;
    top: 229%;
    left: 1%;
    background-color: rgb(192, 184, 184);
  }
  #img7{ 
    height: 33%;
    width: 17%;
    background-color: black;
    position: absolute;
    top: 230%;
    left: 2%;
    background-image: url('book7.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  #line9{
    width: 98%;
    height: 2px;
    position: absolute;
    top: 264%;
    left: 1%;
    background-color: rgb(192, 184, 184);
  }
  #img8{ 
    height: 33%;
    width: 17%;
    background-color: black;
    position: absolute;
    top: 265%;
    left: 2%;
    background-image: url('book8.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  #line10{
    width: 98%;
    height: 2px;
    position: absolute;
    top: 299%;
    left: 1%;
    background-color: rgb(192, 184, 184);
  }
  #img9{ 
    height: 33%;
    width: 17%;
    background-color: black;
    position: absolute;
    top: 300%;
    left: 2%;
    background-image: url('book9.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  #line11{
    width: 98%;
    height: 2px;
    position: absolute;
    top: 334%;
    left: 1%;
    background-color: rgb(192, 184, 184);
  }
  #img10{ 
    height: 33%;
    width: 17%;
    background-color: black;
    position: absolute;
    top: 335%;
    left: 2%;
    background-image: url('book10.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  #line12{
    width: 98%;
    height: 2px;
    position: absolute;
    top: 369%;
    left: 1%;
    background-color: rgb(192, 184, 184);
  }
  #img11{ 
    height: 33%;
    width: 17%;
    background-color: black;
    position: absolute;
    top: 370%;
    left: 2%;
    background-image: url('book11.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  #line13{
    width: 98%;
    height: 2px;
    position: absolute;
    top: 404%;
    left: 1%;
    background-color: rgb(192, 184, 184);
  }
  #img12{ 
    height: 33%;
    width: 17%;
    background-color: black;
    position: absolute;
    top: 405%;
    left: 2%;
    background-image: url('book12.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  #line14{
    width: 98%;
    height: 2px;
    position: absolute;
    top: 439%;
    left: 1%;
    background-color: rgb(192, 184, 184);
  }
  #img13{ 
    height: 33%;
    width: 17%;
    background-color: black;
    position: absolute;
    top: 440%;
    left: 2%;
    background-image: url('book13.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  #line15{
    width: 98%;
    height: 2px;
    position: absolute;
    top: 474%;
    left: 1%;
    background-color: rgb(192, 184, 184);
  }
  #img14{ 
    height: 33%;
    width: 17%;
    background-color: black;
    position: absolute;
    top: 475%;
    left: 2%;
    background-image: url('book14.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  #line16{
    width: 98%;
    height: 2px;
    position: absolute;
    top: 509%;
    left: 1%;
    background-color: rgb(192, 184, 184);
  }
  #img15{ 
    height: 33%;
    width: 17%;
    background-color: black;
    position: absolute;
    top: 510%;
    left: 2%;
    background-image: url('book15.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  #line17{
    width: 98%;
    height: 2px;
    position: absolute;
    top: 544%;
    left: 1%;
    background-color: rgb(192, 184, 184);
  }
  #img16{ 
    height: 33%;
    width: 17%;
    background-color: black;
    position: absolute;
    top: 545%;
    left: 2%;
    background-image: url('book16.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  #line18{
    width: 98%;
    height: 2px;
    position: absolute;
    top: 579%;
    left: 1%;
    background-color: rgb(192, 184, 184);
  }