*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    background-color: #F7335D;
}
h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: black;
    font-size: 100px;
    font-family: 'Big Shoulders Display', cursive;
}
p1{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: black;
    font-size: 30px;
    font-family: 'Big Shoulders Display', cursive;
}